<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Prestation de service">
    <meta name="author" content="Deadly Group">

    <title>{% block title %}{% endblock %}</title>


    <link href="/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/assets/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">
<div id="wrapper">
    {% include 'Inc/adminSidebar.html.twig' %}
    <div id="content-wrapper">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>