form {
    border: 1px grey solid;
    border-radius: 8px;
    padding: 60px 15px;
    margin-top: 80px;
    margin-bottom: 60px;
    background-color: #102542;
    color:white;
}



form label{
    font-size: 1.2em;
}


h2,h4{
    text-align: center;
}

h2{
    color: white;
}

h4{
    color:green;
    padding-top: 50px;
}

.error{
    color:#27a1bf;
}

button{
    margin-top: 30px;
}