body {

    color: #102542;
    font-family: 'Raleway', sans-serif;
}

.main-page {
    margin-top: 82px;
}

h2 {
    color: #101010;
    padding: 0.4em;
    font-size: 2.5em;
    font-family: 'Crushed', cursive;
}

h3 {
    font-family: 'Crushed', cursive;
    font-size: 2rem;
}

.bg-blue {
    background-color: #102542;
}

.logo {
    display: flex;
    align-items: center;
}

.slogan {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.logo img {
    width: auto;
    height: 56px;
}

.logo h3 {
    font-size: 22px;
    color: #FFF;

}

.logo p {
    font-size: 12px;
    color: #1CAAC3;
}

.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate img {
    width: auto;
    height: 300px;
}

.card-title a {
    color: #102542;
}

.button-select {

    margin-top: 0.8em;
}

.btn-blue {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: #102542;
    border: solid #102542 2px;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    font-size: 22px;
    color: #FFFFFF;
}

.btn-blue:hover {
    color: #102542;
    background-color: #1CAAC3;
    text-decoration: none;
}

.btn-dark-blue {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: #102542;
    border: solid #FFFFFF 2px;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

.btn-dark-blue:hover {
    color: #102542;
    background-color: #1CAAC3;
    text-decoration: none;
}


.btn-light-blue {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: #1CAAC3;
    border: solid #1CAAC3 2px;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

.btn-light-blue:hover {
    color: #102542;
    background-color: #1CAAC3;
    text-decoration: none;
}


.card-footer-blue {
    padding: .75rem 1.25rem;
    background-color: #102542;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.jumbotron-blue {
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    background-color: #1CAAC3;
    border-radius: .3rem;
    margin-top: 2rem;
}

.form-insc {
    margin-top: 8rem;
}

.btn-center {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

.modifier {
    display: flex;
}

.modifier div {
    padding: 10px;
}

.profil-top {

    padding-top: 2.5em;
    padding-left: 8em;
    padding-bottom: 1em;
}

.profil-top img {
    border-radius: 50%;
}

.profil-item {
    padding: 1em;
}

.profil-description {
    padding-top: 0;
    padding-left: 8em;
    padding-bottom: 4em;
}

.profil-service {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    border: solid 1px #028090;
    border-radius: 5px;
}

.profil-comment {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 1px #028090;
    border-radius: 5px;
}

.inscription-form {

    margin: 0 15% 1% 15%;
}

.validation{
    padding: 5px;
    color: #028090;
}

.service-detail-gn {
    display: flex;
    justify-content: space-between;
}

.service-detail div {
    margin-bottom: 10px;
}

/* PAGE 404 */


.cadre {
    border: solid 10px midnightblue;
    padding: 50px;
}


.rating {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;

}

.rating span {
    font-size: 40px;
    display: inline-block;
    color: orangered;

}

.rating:hover span:before {
    content: '\2605';
    position: absolute;

}

.rating span:hover ~ span:before {
    content: '';
}


form {
    border: 1px grey solid;
    border-radius: 8px;
    padding: 40px 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #102542;
    color: white;
}

.error{
    color:#27a1bf;
}

.title-login {
    padding-top: 50px;
}

.login-field {
    padding-top: 10px;
    padding-bottom: 2px;
    font-weight: bold;
}

.label-field {
    font-weight: bold;
    padding: 2px 0 0 0;
}

h1 {
    text-align: center;
}

.notfound .notfound-404 h1 {
    font-size: 122px;
}

